$primary-color: #FBF2CF;
$accent-color: #C6EBC5;
$highlight-color: #A1C298;
$active_color: #FA7070;


*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: $primary-color;
}

.logo{
  width: 54px;
  background-color: transparent;
}

.nav{
  background-color: $accent-color;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  a {
    background-color: transparent;
    color: $highlight-color;
    text-decoration: none;
  }
  ul{

    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
    color: forestgreen;
    background-color: transparent;
    display: flex;
    text-decoration: none;

  }
  li.active{
    background-color: $active_color;
  }
}

.logIn {
  border-radius: 5rem;
  background-color: $primary-color;
  border-width: 50px;
}
